{% load static %} <!-- load all the css files (these are static, see
                        STATICFILES_DIRS in settings.py) -->

<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='content-type'>
    <title>DeSigNate</title>


    <!-- load js for tree and chart -->
    <script src="{% static 'js/d3.v2.js' %}"></script>
    <script src="{% static '/node_modules/chart.js/dist/chart.umd.js' %}"></script>

    <!-- load css for website layout and tree -->
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static "css/interactive_tree.css" %}" rel="stylesheet" type="text/css" />

    <!-- cookie consent by osano https://github.com/osano/cookieconsent/ -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/cookieconsent.min.css' %}" />
    <script src="{% static 'js/cookieconsent.min.js' %}"></script>

    <!-- favicon links -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'html/icons/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'html/icons/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'html/icons/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'html/icons/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'html/icons/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'html/icons/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'html/icons/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'html/icons/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'html/icons/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'html/icons/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'html/icons/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'html/icons/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'html/icons/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="html/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'html/icons/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div>
      <table style=" text-align: center; table-layout: fixed; border-collapse: collapse">
        <td style="width: 33%">
          <a href="{% url 'home' %}" >
            <!-- <p class="title">DeSigNate</p> -->
            <img src="{% static "html/icons/designate.png" %}" alt="designate" class="headerLogo" />
          </a>
        </td>
        <!-- <p class="version">Version 0.1 Alpha</p> -->
        <!-- rest of div in block, due to colorization of single icons -->
      {% block content %}
      {% endblock %}
  </body>
  <script>
    /* cookie consent by osano https://github.com/osano/cookieconsent/ */
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#252e39"
        },
        "button": {
          "background": "#14a7d0"
        }
      },
      "theme": "edgeless",
      "position": "bottom-left",
      "content": {
        "href": "{% url 'privacy' %}"
      }
    });
  </script>
</html>
